{% extends 'base.html' %}
{% block content %}
{% load static %}
<!--page_container-->
    <div class="page_container">
        <!--slider-->
        <div id="main_slider">
            <div class="camera_wrap" id="camera_wrap_1">
                <div data-src="{% static 'img/slider/4.jpg' %}"></div>                                        
                <div data-src="{% static 'img/slider/7.jpg' %}"></div> 
                <div data-src="{% static 'img/slider/8.jpg' %}"></div> 
                <div data-src="{% static 'img/slider/9.jpg' %}"></div> 
                <div data-src="{% static 'img/slider/10.jpg' %}"></div> 
                <div data-src="{% static 'img/slider/11.jpg' %}"></div>                 
            </div><!-- #camera_wrap_1 -->
            <div class="clear"></div>   
        </div>        
        <!--//slider-->

        <!--Welcome-->
        <div class="wrap block">
            <div class="container welcome_block">
                <div class="welcome_line welcome_t"></div>
                Treba li vam pomoć da isplanirate vjenčanje?<span>Zadivite vaše goste &amp; ispričajte vašu priču na najljepši mogući način!</span>
                <div class="welcome_line welcome_b"></div>
            </div>
        </div>
        <!--//Welcome-->         
                       
        <!--planning-->
        <div class="wrap planning">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <a href="#">
                            <span class="img_icon icon1"></span>
                            <span class="link_title"> Ko će da snima ? </span>
                            Nunc vel arcu arcu. Nulla mollis feugiat dui id tincidunt. Aenean ac lobortis elit.
                        </a>
                    </div>
                    <div class="span3">
                        <a href="#">
                            <span class="img_icon icon2"></span>
                            <span class="link_title"> Mjesto vjenčanja ? </span>
                            Nunc vel arcu arcu. Nulla mollis feugiat dui id tincidunt. Aenean ac lobortis elit.
                        </a>
                    </div>
                    <div class="span3">
                        <a href="#">
                            <span class="img_icon icon3"> </span>
                            <span class="link_title"> ko pjeva ? </span>
                            Nunc vel arcu arcu. Nulla mollis feugiat dui id tincidunt. Aenean ac lobortis elit.
                        </a>
                    </div>
                    <div class="span3">
                        <a href="#">
                            <span class="img_icon icon4"></span>
                            <span class="link_title"> Medeni mjesec ? </span>
                            Nunc vel arcu arcu. Nulla mollis feugiat dui id tincidunt. Aenean ac lobortis elit.
                        </a>
                    </div>                              
                </div>
            </div>
        </div>
        <!--//planning-->
        
        
        <!--featured works-->
        <div class="wrap block carousel_block">
            <div class="container">
                <h2 class="upper">mi predlažemo</h2>
                <div class="row">
                    <div class="span12">
                        <ul id="mycarousel" class="jcarousel-skin-tango">
                            <li>
                                <div class="hover_img">
                                    <a href="{% static 'img/featured_works/1.jpg' %}" rel="prettyPhoto[portfolio1]"><img src="img/featured_works/1.jpg" alt="" /><span class="portfolio_zoom1"></span></a>                                    
                                </div>
                            </li>
                            <li>
                                <div class="hover_img">
                                    <a href="{% static 'img/featured_works/2.jpg' %}" rel="prettyPhoto[portfolio1]"><img src="img/featured_works/2.jpg" alt="" /><span class="portfolio_zoom1"></span></a>                                    
                                </div>
                            </li>
                            <li>
                                <div class="hover_img">
                                    <a href="{% static 'img/featured_works/3.jpg' %}" rel="prettyPhoto[portfolio1]"><img src="img/featured_works/3.jpg" alt="" /><span class="portfolio_zoom1"></span></a>                                    
                                </div>
                            </li> 
                            <li>
                                <div class="hover_img">
                                    <a href="{% static 'img/featured_works/4.jpg' %}" rel="prettyPhoto[portfolio1]"><img src="img/featured_works/4.jpg" alt="" /><span class="portfolio_zoom1"></span></a>                                    
                                </div>
                            </li>
                            <li>
                                <div class="hover_img">
                                    <a href="{% static 'img/featured_works/1.jpg' %}" rel="prettyPhoto[portfolio1]"><img src="img/featured_works/1.jpg" alt="" /><span class="portfolio_zoom1"></span></a>                                    
                                </div>
                            </li>
                            <li>
                                <div class="hover_img">
                                    <a href="{% static 'img/featured_works/2.jpg' %}" rel="prettyPhoto[portfolio1]"><img src="img/featured_works/2.jpg" alt="" /><span class="portfolio_zoom1"></span></a>                                    
                                </div>
                            </li>                                                       
                        </ul>                         
                    </div>                
                </div>                
            </div>
        </div>        
        <!--//featured works-->
        
        <!--Latest news-->
        
        <!--Latest news-->
        
        <!--latest posts-->
        <div class="wrap block carousel_block">
            <div class="container">
                <h2 class="upper">zadnje dodano</h2>
                <div class="row">
                    <div class="span12">
                        <ul id="mycarousel2" class="jcarousel-skin-tango">
                            <li>
                                <div class="post_carousel">
                                    <img src="{% static 'img/home_blog/1.jpg' %}" alt="" />
                                    <div class="title_t"><a href="#">ipsum dolor ac egestas mas</a></div>
                                    <div class="post_meta">
                                        Posted by <a href="#">John Doe</a>  /  15 apr  / In <a href="#">Vacation</a>
                                    </div>
                                    Ut nisl turpis, tristique tincidunt cursus sed, aliquet nec odio. Integer ornare tincidunt neque a ristiquet phasellus mollis tortor. <a href="#" class="arrow_link">Read more...</a>
                                </div>  
                            </li>
                            <li>
                                <div class="post_carousel">
                                    <img src="{% static 'img/home_blog/2.jpg' %}" alt="" />
                                    <div class="title_t"><a href="#">vestibulum egestas tortor</a></div>
                                    <div class="post_meta">
                                        Posted by <a href="#">John Doe</a>  /  15 apr  / In <a href="#">Vacation</a>
                                    </div>
                                    Ut nisl turpis, tristique tincidunt cursus sed, aliquet nec odio. Integer ornare tincidunt neque a ristiquet phasellus mollis tortor. <a href="#" class="arrow_link">Read more...</a>
                                </div>  
                            </li>
                            <li>
                                <div class="post_carousel">
                                    <img src="{% static 'img/home_blog/3.jpg' %}" alt="" />
                                    <div class="title_t"><a href="#">Quisque sodales dolor</a></div>
                                    <div class="post_meta">
                                        Posted by <a href="#">John Doe</a>  /  15 apr  / In <a href="#">Vacation</a>
                                    </div>
                                    Ut nisl turpis, tristique tincidunt cursus sed, aliquet nec odio. Integer ornare tincidunt neque a ristiquet phasellus mollis tortor. <a href="#" class="arrow_link">Read more...</a>
                                </div>  
                            </li>
                            <li>
                                <div class="post_carousel">
                                    <img src="{% static 'img/home_blog/4.jpg' %}" alt="" />
                                    <div class="title_t"><a href="#">ipsum dolor ac egestas mas</a></div>
                                    <div class="post_meta">
                                        Posted by <a href="#">John Doe</a>  /  15 apr  / In <a href="#">Vacation</a>
                                    </div>
                                    Ut nisl turpis, tristique tincidunt cursus sed, aliquet nec odio. Integer ornare tincidunt neque a ristiquet phasellus mollis tortor. <a href="#" class="arrow_link">Read more...</a>
                                </div>  
                            </li> 
                            <li>
                                <div class="post_carousel">
                                    <img src="{% static 'img/home_blog/1.jpg' %}" alt="" />
                                    <div class="title_t"><a href="#">Tristique cursus tincidunt</a></div>
                                    <div class="post_meta">
                                        Posted by <a href="#">John Doe</a>  /  15 apr  / In <a href="#">Vacation</a>
                                    </div>
                                    Ut nisl turpis, tristique tincidunt cursus sed, aliquet nec odio. Integer ornare tincidunt neque a ristiquet phasellus mollis tortor. <a href="#" class="arrow_link">Read more...</a>
                                </div>  
                            </li>
                            <li>
                                <div class="post_carousel">
                                    <img src="{% static 'img/home_blog/2.jpg' %}" alt="" />
                                    <div class="title_t"><a href="#">ipsum dolor ac egestas mas</a></div>
                                    <div class="post_meta">
                                        Posted by <a href="#">John Doe</a>  /  15 apr  / In <a href="#">Vacation</a>
                                    </div>
                                    Ut nisl turpis, tristique tincidunt cursus sed, aliquet nec odio. Integer ornare tincidunt neque a ristiquet phasellus mollis tortor. <a href="#" class="arrow_link">Read more...</a>
                                </div>  
                            </li>                                                                                   
                        </ul>                        
                    </div>                
                </div>                
            </div>
        </div>        
        <!--//latest posts--> 
    </div>
    <!--//page_container-->
    
    <!--footer-->
        
        <div class="footer_bottom">
            <div class="wrap">
                <div class="container">
                    <div class="row">
                        <div class="span5">
                            <div class="foot_logo"><a href="index.html"><img src="{% static 'img/foot_logo.png' %}" alt="" /></a></div>    
                            <div class="copyright">&copy; 2017 Svadba. All Rights Reserved.</div>                        
                        </div>
                        <div class="span7">
                            <div class="foot_right_block">
                                <div class="fright">
                                    <form action="#" method="post">
                                        <input class="inp_search" name="name" type="text" value="Search the Site" onfocus="if (this.value == 'Search the Site') this.value = '';" onblur="if (this.value == '') this.value = 'Search the Site';" />                                        
                                    </form>
                                </div>
                                <div class="follow_us">
                                    <ul>
                                        <li><a rel="tooltip" href="#" title="Facebook" class="facebook">Facebook</a></li>
                                        <li><a rel="tooltip" href="#" title="Twitter" class="twitter">Twitter</a></li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                            
                                <div class="clear"></div>
                                <div class="foot_menu">
                                    <ul>
                                        <li><a href="index.html" class="current">Početna</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="contacts.html">Kontakt</a></li>
                                    </ul>
                                </div>
                            </div>                            
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
{% endblock %}
